.list-alpha-dot {
  counter-reset: item;
  list-style: none;
}
.list-alpha-dot li {
  position: relative;
  padding-left: 1.5rem;
}
.list-alpha-dot li::before {
  counter-increment: item;
  content: counter(item, lower-alpha) ").";
  position: absolute;
  left: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 50s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
